#format: sh
#
#  gbseqdeleter.config.default
#
#  This file sets up environment variables that are needed for the
#  gbseqdeleter
###########################################################################
# The interpreter class for genbank deletes
SEQ_INTERPRETER=org.jax.mgi.shr.dla.input.genbank.GBSeqDeleterInterpreter

export SEQ_INTERPRETER

# Full path the the logs, reports, and archive directories
FILEDIR=/mgi/all/wts_projects/10700/10754/seqStatus

export FILEDIR

# Full path the the logs, reports, and archive directories
LOGDIR=${FILEDIR}/logs
RPTDIR=${FILEDIR}/reports
OUTPUTDIR=${FILEDIR}/output
ARCHIVEDIR=${FILEDIR}/archive

export LOGDIR RPTDIR OUTPUTDIR ARCHIVEDIR

#  Complete path name of the log files
LOG_PROC=${LOGDIR}/gbseqdeleter.proc.log
LOG_DIAG=${LOGDIR}/gbseqdeleter.diag.log
LOG_CUR=${LOGDIR}/gbseqdeleter.cur.log
LOG_VAL=${LOGDIR}/gbseqdeleter.val.log

export LOG_PROC LOG_DIAG LOG_CUR LOG_VAL

# Full path to dir containing input file(s)
INPUTDIR=/mgi/all/wts_projects/10700/10754/seqStatus

# how files are piped to the application
APP_CAT_METHOD="/usr/local/bin/gunzip -c"

# full path to input file(s)
APP_INFILES=${INPUTDIR}/toDeleteInMGI.deleteFormat.gz
export INPUTDIR APP_CAT_METHOD APP_INFILES

# when tru update sequence status key to ACTIVE as part of the preprocessing 
PRESET_SEQ_STATUS=false

# logical dbkey of provider for updating 
# this one for the pre-update sql
LOGICALDB_KEY=9

export PRESET_SEQ_TYPE LOGICALDB_KEY

# this load's MGI_User login value for DB tables CreatedBy and ModifiedBy column
JOBSTREAM=gb_seqdeleter

# logical db name for this data provider
# this one for the Sequence load frameworks
SEQ_LOGICALDB="Sequence DB"

export JOBSTREAM SEQ_LOGICALDB

# The name of the load for the subject of an email notification
MAIL_LOADNAME="GenBank SeqDeleter"

export MAIL_LOADNAME 
